.a_button {
  height: 54px;
  width: 100%;
  background: #0072d2;
  border: 1px solid transparent;
  color: white;
  border-radius: 4px;
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
